<div class="row">
    <div class="col-10 offset-1">
        <div class="jumbotron">
            <h1 class="display-4">Posts Board System</h1>
            <p>Web-based systems created using the ASP.NET Framework and C#, Ajax, and jQurey, HTML.</p>
            <hr class="my-3" />
            <p class="mb-4">For detailed information about this project, visit the sample path by clicking the button below.</p>
            <p class="lead">
                <a class="btn btn-success btn-lg" href="/Post/Index" role="button">
                    <svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img" aria-label="info square" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi-info-square b-icon bi mr-2 btn-icon text-main">
                        <g data-v-e5edced8="">
                            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"></path>
                            <circle cx="8" cy="4.5" r="1"></circle>
                        </g>
                    </svg>Go to Login
                </a>
            </p>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-1">
        <div class="card text-center border-success text-success">
            <div class="card-body">
                <h5 class="card-title">Sample Login Info for testing</h5>
                <p class="card-text">
                    Username : abc@abc.com
                    Password : 1234
                </p>
            </div>
        </div>
    </div>
</div>